<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
</head>
<body>
    <h1>TODO App v1.3</h1>
    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="New task" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            {% if todo.completed %}
            <del>{{ todo.task }}</del>
            {% else %}
            {{ todo.task }}
            <a href="/complete/{{ todo.id }}">Complete</a>
            {% endif %}
            <a href="/delete/{{ todo.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>

